
::selection {
    background: rgba(137, 13, 131, 0.31)
}
::-moz-selection {
    background: rgba(137, 13, 131, 0.31)
}
.base-color {
    color: #952c94!important;
}
.hero-social li a:hover, .blog-link a:hover{
    color: #890d83 !important;
}
.bg-base-color {
    background-color: #952c94!important;
}
.follow-label:before,
.skill-box .fill-skillbar,
.timeline-area:before,
.testimonial .testimonial-border,
.testimonial .owl-dot.active span,
.blog-content:before,
.blog .owl-dot.active span {
    background: #952c94;
}
.menu li a,
header .navbar-brand span ,
header .navbar-brand b ,
.pill-button ,
.pill-button:hover ,
.ability ul li:before,
.timeline-icon,
.timeline-year ,
.language-skill ul li i ,
.contact .form-item .form-control,
.comments .comment-info a,
.portfolio .portfolio-icon a,
.portfolio .portfolio-icon button,
.blog-content button:hover,
.comments .comment-info a:hover,
.social a:hover
{
    color: #952c94;
}
.loader {
    border-top: 4px solid #952c94 !important;
}
.timeline-icon{
    border: 1px solid #952c94;
    background-color: #952c94;
}
.portfolio .portfolio-item-content::before {

    background-color:rgba(137, 13, 131, 0.6)
}
.menu-toggler span {
    background-color: rgb(137, 13, 131)
}
.timeline-item:before
{
    border: 2px solid #952c94;
}
.timeline-item:before
{
    border: 1px solid #952c94;
}

/*-------------------------
      Flat Demo
-------------------------*/
.flat-demo .button-border, .arshia-dark.flat-demo .button-border{
    background-color: #952c94;
}
.flat-demo .pill-button:hover, .flat-demo .pill-button.active{
    background-color: #890d83;
}
