
::selection {
    background: rgba(8, 151, 157, 0.31);
}
::-moz-selection {
    background: rgba(8, 151, 157, 0.31);
}
.base-color{
    color: #08979d !important;
}
.hero-social li a:hover, .blog-link a:hover{
    color: #007479 !important;
}
.bg-base-color {
    background-color: #08979d !important;
}
.follow-label:before,
.skill-box .fill-skillbar,
.timeline-area:before,
.testimonial .testimonial-border,
.testimonial .owl-dot.active span,
.blog-content:before,
.blog .owl-dot.active span {
    background: #08979d;
}
.menu li a,
header .navbar-brand span ,
header .navbar-brand b ,
.pill-button ,
.pill-button:hover ,
.ability ul li:before,
.timeline-icon,
.timeline-year ,
.language-skill ul li i ,
.contact .form-item .form-control,
.comments .comment-info a,
.portfolio .portfolio-icon a,
.portfolio .portfolio-icon button,
.blog-content button:hover,
.comments .comment-info a:hover,
.social a:hover
{
    color: #08979d;
}
.loader {
    border-top: 4px solid #08979d !important;
}
.timeline-icon{
    border: 1px solid #08979d;
    background-color: #08979d;
}
.portfolio .portfolio-item-content::before {

    background-color:rgba(8,151,157, 0.6);
}
.menu-toggler span {
    background-color: rgb(8,151,157);
}
.timeline-item:before
{
    border: 2px solid #08979d;
}
.timeline-item:before
{
    border: 1px solid #08979d;
}

/*-------------------------
      Flat Demo
-------------------------*/
.flat-demo .button-border, .arshia-dark.flat-demo .button-border{
    background-color: #08979d;
}
.flat-demo .pill-button:hover, .flat-demo .pill-button.active{
    background-color: #007479;
}
