{% if result_profiles.count > 0 %}
{% for userprofile in result_profiles %}
<!-- Item 01 -->
<div class="col-lg-4 portfolio-item seo">
    <div class="image-border">
        <div class="portfolio-item-content">
            <img src="{{ userprofile.picture_url }}" alt="{{ userprofile.user.username }} photo" class="img-fluid">
            <div class="img-overlay text-center">
                <div class="img-overlay-content">
                    <div class="portfolio-icon">
                        <a href="{% url 'elementary:profile' userprofile.user.username %}"><button type="button" ><i class="lni-user"></i></button></a>
                        <a href="{{ userprofile.picture_url }}" class="js-zoom-gallery">
                            <i class="lni-zoom-in"></i>
                        </a>
                    </div>
                    <h5 class="mt-3 mb-0">{{ userprofile.user.username }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}

    <div class="col-lg-4 text-left mt-4">
        <div class="services-item box-hover-border">

            <div class="services-content m-4 text-center"><h5 class="mb-3">Not Available</h5>
            </div>
        </div>
    </div>

{% endif %}